<h1>My Glyphs</h1>
<ul>
  <% @my_glyphs.each do |glyph| %>
    <li>
      <%= link_to glyph.title, glyph_path(glyph) %> |
      <%= link_to 'Edit', edit_glyph_path(glyph) %> |
      <%= link_to 'Delete', glyph_path(glyph), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<h2>Accessible Glyphs</h2>
<ul>
  <% @accessible_glyphs.each do |glyph| %>
    <li><%= link_to glyph.title, glyph_path(glyph) %></li>
  <% end %>
</ul>